[Unit]
Description=Mount acharruel from bamus as sshfs
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=default.target

[Mount]
What=acharruel@bamus:/local/acharruel
Where=/home/adrien/network/bamus
Type=fuse.sshfs
Options=_netdev,reconnect,ServerAliveInterval=30,ServerAliveCountMax=5,x-systemd.automount
TimeoutSec=60
