[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requires==graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "%h/Images/mountains-nord.jpg"
Restart=on-failure
