@import "nord.css";

@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* Reset all styles */
* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

/* The whole bar */
#waybar {
    background: @bg;
    color: @light;
    font-family: "DejaVuSansMono Nerd Font Mono";
    font-size: 13px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#disk,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#custom-pacman,
#custom-weather,
#custom-gpu,
#tray,
#backlight,
#language,
#custom-media,
#custom-cpugovernor {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#disk.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#disk.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @dark_font;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode {
	/* Shown current Sway mode (resize etc.) */
    color: @light;
    background: @mode;
}

/* Workspaces stuff */
#workspaces {
    /*   color: #D8DEE9;
    margin-right: 10px;*/
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    opacity: 0.3;
    background: none;
    font-size: 1em;
    color: @light_font;
}

#workspaces button.focused {
    background: @workspacesfocused;
    color: @dark_font;
    opacity: 1;
    padding: 0 0.4em;
}

#workspaces button.urgent {
    border-color: @critical;
    color: @critical;
    opacity: 1;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
}

#bluetooth {
    background: @bluetooth_bg;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.6em;
}

#network {
    background: @element_bg;
}

#memory {
    background: @element_bg;
}

#disk {
    background: @element_bg;
    color: @light_font;
}
#disk.critical {
    color: @dark_font;
}

#cpu {
    background: @element_bg;
    color: @light_font;
}
#cpu.critical {
    color: @dark_font;
}

#custom-cpugovernor.perf {

}
#temperature {
    background-color: @element_bg;
    color: @light_font;
}
#temperature.critical {
    background:  @critical;
}
#custom-layout {
    background: @layout;
}

#battery {
    background: @element_bg;
}

#backlight {
    background: @backlight;
}

#pulseaudio {
    background: @green_bg;
    color: @dark_font;
}
#pulseaudio.source-muted {
    background: @element_bg;
    color: @light_font;
}
#pulseaudio.bluetooth {
    background: @bluetooth_bgh;
    color: @light_font;
}
#pulseaudio.muted,
#pulseaudio.bluetooth-muted {
    background: @critical;
    color: @light_font;
}

#tray {
    background: @tray;
}

#custom-media {
    background: @element_bg;
    color: @light_font;
}

#custom-logo {
	background-image: url("/home/adrien/.config/waybar/debian.svg");
	/* background-image: url("/home/adrien/Documents/tag_heuer_logo_color.svg"); */
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-top: 2px;
	margin-bottom: 2px;
}
