@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @peach;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#workspaces button.focused {
  color: @peach;
  border-bottom: 2px solid @peach;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 200ms ease-in-out;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-music,
#disk,
#network,
#pulseaudio,
#temperature,
#tray {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @text;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio#output {
  color: @lavender;
}

#pulseaudio#microphone {
  color: @lavender;
}

#network {
  color: @sky;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#temperature {
  color: @peach;
}

#disk {
  color: @mauve;
}

#cpu {
  color: @yellow;
}
