@import "nord.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 14px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
  opacity: 0.5;
}

tooltip {
  background: @nord6;
  border-radius: 5px;
}

tooltip label {
  color: @nord3;
  margin-right: 2px;
  margin-left: 2px;
}

.modules-right {
  background-color: @nord0;
  border: 0px solid @nord0;
  border-radius: 5px;
}

.modules-center {
  background-color: @nord0;
  border: 0px solid @nord0;
  border-radius: 5px;
}

.modules-left {
  background-color: @nord0;
  border: 0px solid @nord0;
  border-radius: 5px;
}

#workspaces button {
  padding: 2px;
  color: @nord3;
  margin-right: 3px;
}

#workspaces button.active {
  color: @nord4;
  border-radius: 3px 3px 3px 3px;
}

#workspaces button.focused {
  color: @nord4;
  background-color: @nord0;
}

#workspaces button.urgent {
  color: @nord11;
  border-radius: 3px;
}

#workspaces button:hover {
  color: #b7bdf8;
  border-radius: 3px;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-media,
#custom-notification,
#custom-recorder,
#disk,
#language,
#memory,
#network,
#tray,
#pulseaudio,
#temperature,
#sway-window,
#workspaces {
  color: @nord4;
  padding: 0px 10px;
  border-radius: 5px;
}

#tray {
  background-color: @nord2;
}

#temperature.critical {
  background-color: @nord11;
}

@keyframes blink {
  to {
    color: @nord11;
  }
}

#taskbar button.active {
  background-color: @nord3;
}

#battery.critical:not(.charging) {
  color: @nord11;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-recorder {
  color: @nord4;
}
