/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1e1e2eff;
    background-alt: #181825ff;
    foreground:     #cdd6f4ff;
    selected:       #b4befeff;
    active:         #b4befeff;
    urgent:         #fab387ff;
}
